body{
	background-color: lightsteelblue;
}
#header-nav{
	background-color: maroon;
	border-radius: 0;
	border: 0;
}
.navbar-brand{
     color: lightyellow;
     text-shadow: 1px 1px 1px black;
     font-weight: bold;
     font-size: 2em;
     line-height: .75;
     margin-top: 0;
     margin-bottom: 0;
}
#nav-list{
	float: right;
}